{% extends "base.html" %}


{% load static %}

{% block linkcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}




<div class="container my-container ">
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="head-web text-center col-12">
            <h2>
                About Me
            </h2>
        </div>
        <div class="my-accordion col-md-10 ">
            <div class="accor-1" class="ac1">
                <div class="head-accor d-flex justify-content-between p-2 m-2 rounded">
                    <div class="judul toggle m-0">
                        <h4 class="m-1">Introduction</h4>
                    </div>
                    <div class="arrow d-flex flex-row justify-content-around">
                        
                        <h4 class="up p-0">&uArr;</h4>
                        <h4 class="down p-0">&dArr;</h4>
                    </div>
                </div>
                <div class="content-accor px-3">
                    <p>Halo semua kenalin gue Rheza. Gue dari Bogor. sekarang lagi kuliah jurusan ilmu komputer</p>
                </div>
            </div>
            <div class="accor-2" id="ac2">
                <div class="head-accor d-flex justify-content-between p-2 m-2 rounded">
                    <div class="judul toggle">
                        <h4 class="m-1">Hobby</h4>
                    </div>
                    <div class="arrow d-flex flex-row justify-content-around">
                        <h4 class="up p-0">&uArr;</h4>
                        <h4 class="down p-0">&dArr;</h4>
                    </div>
                </div>
                <div class="content-accor px-3">
                    <p>Bermain game</p>
                </div>
            </div>
            <div class="accor-3" id="ac3">
                <div class="head-accor d-flex justify-content-between p-2 m-2 rounded">
                    <div class="judul toggle">
                        <h4 class="m-1" >Current Activities</h4>
                    </div>
                    <div class="arrow d-flex flex-row justify-content-around" >
                        <h4 class="up p-0">&uArr;</h4>
                        <h4 class="down p-0">&dArr;</h4>
                    </div>
                </div>
                <div class="content-accor px-3">
                    <p>Nugas ampe subuh</p>
                </div>
            </div>
            <div class="accor-4" id="ac4">
                <div class="head-accor d-flex justify-content-between p-2 m-2 rounded">
                    <div class="judul toggle">
                        <h4 class="m-1">Achievement</h4>
                    </div>
                    <div class="arrow d-flex flex-row justify-content-around">
                        <h4 class="up p-0">&uArr;</h4>
                        <h4 class="down p-0">&dArr;</h4>
                    </div>
                </div>
                <div class="content-accor px-3">
                    <p>Juara harapan 1 fashion show saat TK</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'index.js' %}"></script>
{% endblock %}
