{% extends "base.html" %}

{% block content %}
<div class="container my-container">
    <div class="row">
        <div class="col-md-12 text-center mb-2 mt-2">
            <h1>Kegiatan</h1>
        </div>
        
        {% for data in kegiatan %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{data.nama_kegiatan}}</h5>
                    <p><b>Peserta :</b></p>
                        <table class="table table-striped table-light">
                            <thead>
                              <tr>
                                <th scope="col">Nomor</th>
                                <th scope="col">Nama</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for orang in data.peserta.all %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ orang.nama }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                    <a href="{{data.absolute_url}}" class="btn btn-success">Tambah Peserta</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-12 mt-4">
            <a href="tambah-kegiatan/" class="btn btn-info">Tambah Kegiatan</a>
        </div>
    </div>
</div>
{% endblock %}