{% extends "base.html" %}

{% block content %}
<div class="container pt-5"> 
    <div class="alert alert-success" role="alert">
        Tambahkan Peserta
    </div>
    <div>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="tambah peserta">
            </form>
        </div>
    </div>
</div>
{% endblock %}